
body{
    background-color:#303030;
}



.container-nav{
    width: auto;
    padding: 20px;
    background-color: aqua;
    margin:auto;
    height: 30px;
  
}



nav ul{
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;


}

*{
	margin: 0;
	padding: 0;
	box-sizing: boreder-box;
}


nav li{
    display: inline-block;
   
    
}


nav a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    font-weight: 400;
    margin-right: 60px;
    padding-right: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    bottom: 2px;    

}


.web-title{
    right:20cm;
    position: relative;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder ;
    font-size: x-large;
    color: #303030;;
  
}

nav a:hover{
    color: floralwhite;
}

.web-title:hover{
   color:red;
}

.container-ftr{
    background-color:black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;  
    padding-top:65px;
}


